@tailwind base;

@font-face {
 font-family: "Romie";
 src: url("/Romie-Regular.otf") format("otf"),
}

html, body {
  font-family: "Romie", minion, serif;
  color: #000000;
}
a {
  font-family: "Romie", minion, serif;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

#X, #8, #V, #P, #CM, #OR {
  scroll-behavior: smooth;
}

@tailwind components;

@tailwind utilities;

/* .content p {
  @apply my-6;
} */

.content ul {
  @apply my-6;
}
.link li:last-child {
  margin-right: 0;
}

.huit {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  font-size: 6rem;
}
@media screen and (max-width: 600px) {
.huit {
  font-size: 4rem;
}
}